<!doctype html>

<html>
<head>
	<title>Add Friends</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>

<body>
	<p>Your new friend has been successfully added.</p>
	<a href="/">Click here to return to the Homepage!</a>
</body>
</html>